$ha-doc-black: #323233;
$ha-doc-blue: #1989fa;
$ha-doc-purple: #8080ff;
$ha-doc-fuchsia: #a7419e;
$ha-doc-green: #4fc08d;
$ha-doc-light-green: #00bc7010;
$ha-doc-text-color: #34495e;
$ha-doc-text-light-blue: rgba(69, 90, 100, 0.6);
$ha-doc-background-color: #f7f8fa;
$ha-doc-grey: #999;
$ha-doc-dark-grey: #666;
$ha-doc-light-grey: #ccc;
$ha-doc-border-color: #f1f4f8;
$ha-doc-code-color: #58727e;
$ha-doc-code-background-color: #f1f4f8;
$ha-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
$ha-doc-padding: 30px;
$ha-doc-row-max-width: 1680px;
$ha-doc-nav-width: 220px;
$ha-doc-border-radius: 12px;

// header
$ha-doc-header-top-height: 60px;
$ha-doc-header-bottom-height: 50px;

// simulator
$ha-doc-simulator-width: 360px;
$ha-doc-simulator-small-width: 320px;
$ha-doc-simulator-height: 620px;
$ha-doc-simulator-small-height: 560px;
