
@keyframes ha-slide-up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes ha-slide-up-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes ha-slide-down-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes ha-slide-down-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes ha-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ha-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ha-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes ha-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes ha-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ha-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes ha-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ha-fade {
  &-enter-active {
    animation: $animation-duration-base ha-fade-in both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: $animation-duration-base ha-fade-out both
      $animation-timing-function-leave;
  }
}

.ha-slide-up {
  &-enter-active {
    animation: ha-slide-up-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: ha-slide-up-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.ha-slide-down {
  &-enter-active {
    animation: ha-slide-down-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: ha-slide-down-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.ha-slide-left {
  &-enter-active {
    animation: ha-slide-left-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: ha-slide-left-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.ha-slide-right {
  &-enter-active {
    animation: ha-slide-right-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: ha-slide-right-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}



@include zoom-animation('top', scaleY(0), scaleY(1), center top);
@include zoom-animation('left', scale(.45, .45), scale(1, 1), top left);
@include zoom-animation('right', scale(.45, .45), scale(1, 1), top right);
@include zoom-animation('bottom', scaleY(0), scaleY(1),  center bottom);
