/* stylelint-disable selector-pseudo-element-colon-notation */
@font-face {
    font-weight: normal;
    font-family: 'ha-icon';
    font-style: normal;
    font-display: auto;
    src: url('https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2') format('woff2'),
      url('https://img.yzcdn.cn/vant/vant-icon-db1de1.woff') format('woff'),
      url('https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf') format('truetype');
  }
  
  .ha-icon {
    position: relative;
    display: inline-block;
    font: normal normal normal 14px/1 "ha-icon";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  
    &::before {
      display: inline-block;
    }
  }
  
  .ha-icon-add-o::before {
    content: "\F000";
  }
  
  .ha-icon-add-square::before {
    content: "\F001";
  }
  
  .ha-icon-add::before {
    content: "\F002";
  }
  
  .ha-icon-after-sale::before {
    content: "\F003";
  }
  
  .ha-icon-aim::before {
    content: "\F004";
  }
  
  .ha-icon-alipay::before {
    content: "\F005";
  }
  
  .ha-icon-apps-o::before {
    content: "\F006";
  }
  
  .ha-icon-arrow-down::before {
    content: "\F007";
  }
  
  .ha-icon-arrow-left::before {
    content: "\F008";
  }
  
  .ha-icon-arrow-up::before {
    content: "\F009";
  }
  
  .ha-icon-arrow::before {
    content: "\F00A";
  }
  
  .ha-icon-ascending::before {
    content: "\F00B";
  }
  
  .ha-icon-audio::before {
    content: "\F00C";
  }
  
  .ha-icon-award-o::before {
    content: "\F00D";
  }
  
  .ha-icon-award::before {
    content: "\F00E";
  }
  
  .ha-icon-bag-o::before {
    content: "\F00F";
  }
  
  .ha-icon-bag::before {
    content: "\F010";
  }
  
  .ha-icon-balance-list-o::before {
    content: "\F011";
  }
  
  .ha-icon-balance-list::before {
    content: "\F012";
  }
  
  .ha-icon-balance-o::before {
    content: "\F013";
  }
  
  .ha-icon-balance-pay::before {
    content: "\F014";
  }
  
  .ha-icon-bar-chart-o::before {
    content: "\F015";
  }
  
  .ha-icon-bars::before {
    content: "\F016";
  }
  
  .ha-icon-bell::before {
    content: "\F017";
  }
  
  .ha-icon-bill-o::before {
    content: "\F018";
  }
  
  .ha-icon-bill::before {
    content: "\F019";
  }
  
  .ha-icon-birthday-cake-o::before {
    content: "\F01A";
  }
  
  .ha-icon-bookmark-o::before {
    content: "\F01B";
  }
  
  .ha-icon-bookmark::before {
    content: "\F01C";
  }
  
  .ha-icon-browsing-history-o::before {
    content: "\F01D";
  }
  
  .ha-icon-browsing-history::before {
    content: "\F01E";
  }
  
  .ha-icon-brush-o::before {
    content: "\F01F";
  }
  
  .ha-icon-bulb-o::before {
    content: "\F020";
  }
  
  .ha-icon-bullhorn-o::before {
    content: "\F021";
  }
  
  .ha-icon-calender-o::before {
    content: "\F022";
  }
  
  .ha-icon-card::before {
    content: "\F023";
  }
  
  .ha-icon-cart-circle-o::before {
    content: "\F024";
  }
  
  .ha-icon-cart-circle::before {
    content: "\F025";
  }
  
  .ha-icon-cart-o::before {
    content: "\F026";
  }
  
  .ha-icon-cart::before {
    content: "\F027";
  }
  
  .ha-icon-cash-back-record::before {
    content: "\F028";
  }
  
  .ha-icon-cash-on-deliver::before {
    content: "\F029";
  }
  
  .ha-icon-cashier-o::before {
    content: "\F02A";
  }
  
  .ha-icon-certificate::before {
    content: "\F02B";
  }
  
  .ha-icon-chart-trending-o::before {
    content: "\F02C";
  }
  
  .ha-icon-chat-o::before {
    content: "\F02D";
  }
  
  .ha-icon-chat::before {
    content: "\F02E";
  }
  
  .ha-icon-checked::before {
    content: "\F02F";
  }
  
  .ha-icon-circle::before {
    content: "\F030";
  }
  
  .ha-icon-clear::before {
    content: "\F031";
  }
  
  .ha-icon-clock-o::before {
    content: "\F032";
  }
  
  .ha-icon-clock::before {
    content: "\F033";
  }
  
  .ha-icon-close::before {
    content: "\F034";
  }
  
  .ha-icon-closed-eye::before {
    content: "\F035";
  }
  
  .ha-icon-cluster-o::before {
    content: "\F036";
  }
  
  .ha-icon-cluster::before {
    content: "\F037";
  }
  
  .ha-icon-column::before {
    content: "\F038";
  }
  
  .ha-icon-comment-circle-o::before {
    content: "\F039";
  }
  
  .ha-icon-comment-circle::before {
    content: "\F03A";
  }
  
  .ha-icon-comment-o::before {
    content: "\F03B";
  }
  
  .ha-icon-comment::before {
    content: "\F03C";
  }
  
  .ha-icon-completed::before {
    content: "\F03D";
  }
  
  .ha-icon-contact::before {
    content: "\F03E";
  }
  
  .ha-icon-coupon-o::before {
    content: "\F03F";
  }
  
  .ha-icon-coupon::before {
    content: "\F040";
  }
  
  .ha-icon-credit-pay::before {
    content: "\F041";
  }
  
  .ha-icon-cross::before {
    content: "\F042";
  }
  
  .ha-icon-debit-pay::before {
    content: "\F043";
  }
  
  .ha-icon-delete::before {
    content: "\F044";
  }
  
  .ha-icon-descending::before {
    content: "\F045";
  }
  
  .ha-icon-description::before {
    content: "\F046";
  }
  
  .ha-icon-desktop-o::before {
    content: "\F047";
  }
  
  .ha-icon-diamond-o::before {
    content: "\F048";
  }
  
  .ha-icon-diamond::before {
    content: "\F049";
  }
  
  .ha-icon-discount::before {
    content: "\F04A";
  }
  
  .ha-icon-down::before {
    content: "\F04B";
  }
  
  .ha-icon-ecard-pay::before {
    content: "\F04C";
  }
  
  .ha-icon-edit::before {
    content: "\F04D";
  }
  
  .ha-icon-ellipsis::before {
    content: "\F04E";
  }
  
  .ha-icon-empty::before {
    content: "\F04F";
  }
  
  .ha-icon-envelop-o::before {
    content: "\F050";
  }
  
  .ha-icon-exchage::before {
    content: "\F051";
  }
  
  .ha-icon-expand-o::before {
    content: "\F052";
  }
  
  .ha-icon-expand::before {
    content: "\F053";
  }
  
  .ha-icon-eye-o::before {
    content: "\F054";
  }
  
  .ha-icon-eye::before {
    content: "\F055";
  }
  
  .ha-icon-fail::before {
    content: "\F056";
  }
  
  .ha-icon-failure::before {
    content: "\F057";
  }
  
  .ha-icon-filter-o::before {
    content: "\F058";
  }
  
  .ha-icon-fire-o::before {
    content: "\F059";
  }
  
  .ha-icon-fire::before {
    content: "\F05A";
  }
  
  .ha-icon-flag-o::before {
    content: "\F05B";
  }
  
  .ha-icon-flower-o::before {
    content: "\F05C";
  }
  
  .ha-icon-free-postage::before {
    content: "\F05D";
  }
  
  .ha-icon-friends-o::before {
    content: "\F05E";
  }
  
  .ha-icon-friends::before {
    content: "\F05F";
  }
  
  .ha-icon-gem-o::before {
    content: "\F060";
  }
  
  .ha-icon-gem::before {
    content: "\F061";
  }
  
  .ha-icon-gift-card-o::before {
    content: "\F062";
  }
  
  .ha-icon-gift-card::before {
    content: "\F063";
  }
  
  .ha-icon-gift-o::before {
    content: "\F064";
  }
  
  .ha-icon-gift::before {
    content: "\F065";
  }
  
  .ha-icon-gold-coin-o::before {
    content: "\F066";
  }
  
  .ha-icon-gold-coin::before {
    content: "\F067";
  }
  
  .ha-icon-good-job-o::before {
    content: "\F068";
  }
  
  .ha-icon-good-job::before {
    content: "\F069";
  }
  
  .ha-icon-goods-collect-o::before {
    content: "\F06A";
  }
  
  .ha-icon-goods-collect::before {
    content: "\F06B";
  }
  
  .ha-icon-graphic::before {
    content: "\F06C";
  }
  
  .ha-icon-home-o::before {
    content: "\F06D";
  }
  
  .ha-icon-hot-o::before {
    content: "\F06E";
  }
  
  .ha-icon-hot-sale-o::before {
    content: "\F06F";
  }
  
  .ha-icon-hot-sale::before {
    content: "\F070";
  }
  
  .ha-icon-hot::before {
    content: "\F071";
  }
  
  .ha-icon-hotel-o::before {
    content: "\F072";
  }
  
  .ha-icon-idcard::before {
    content: "\F073";
  }
  
  .ha-icon-info-o::before {
    content: "\F074";
  }
  
  .ha-icon-info::before {
    content: "\F075";
  }
  
  .ha-icon-invition::before {
    content: "\F076";
  }
  
  .ha-icon-label-o::before {
    content: "\F077";
  }
  
  .ha-icon-label::before {
    content: "\F078";
  }
  
  .ha-icon-like-o::before {
    content: "\F079";
  }
  
  .ha-icon-like::before {
    content: "\F07A";
  }
  
  .ha-icon-live::before {
    content: "\F07B";
  }
  
  .ha-icon-location-o::before {
    content: "\F07C";
  }
  
  .ha-icon-location::before {
    content: "\F07D";
  }
  
  .ha-icon-lock::before {
    content: "\F07E";
  }
  
  .ha-icon-logistics::before {
    content: "\F07F";
  }
  
  .ha-icon-manager-o::before {
    content: "\F080";
  }
  
  .ha-icon-manager::before {
    content: "\F081";
  }
  
  .ha-icon-map-marked::before {
    content: "\F082";
  }
  
  .ha-icon-medal-o::before {
    content: "\F083";
  }
  
  .ha-icon-medal::before {
    content: "\F084";
  }
  
  .ha-icon-more-o::before {
    content: "\F085";
  }
  
  .ha-icon-more::before {
    content: "\F086";
  }
  
  .ha-icon-music-o::before {
    content: "\F087";
  }
  
  .ha-icon-music::before {
    content: "\F088";
  }
  
  .ha-icon-new-arrival-o::before {
    content: "\F089";
  }
  
  .ha-icon-new-arrival::before {
    content: "\F08A";
  }
  
  .ha-icon-new-o::before {
    content: "\F08B";
  }
  
  .ha-icon-new::before {
    content: "\F08C";
  }
  
  .ha-icon-newspaper-o::before {
    content: "\F08D";
  }
  
  .ha-icon-notes-o::before {
    content: "\F08E";
  }
  
  .ha-icon-orders-o::before {
    content: "\F08F";
  }
  
  .ha-icon-other-pay::before {
    content: "\F090";
  }
  
  .ha-icon-paid::before {
    content: "\F091";
  }
  
  .ha-icon-passed::before {
    content: "\F092";
  }
  
  .ha-icon-pause-circle-o::before {
    content: "\F093";
  }
  
  .ha-icon-pause-circle::before {
    content: "\F094";
  }
  
  .ha-icon-pause::before {
    content: "\F095";
  }
  
  .ha-icon-peer-pay::before {
    content: "\F096";
  }
  
  .ha-icon-pending-payment::before {
    content: "\F097";
  }
  
  .ha-icon-phone-circle-o::before {
    content: "\F098";
  }
  
  .ha-icon-phone-circle::before {
    content: "\F099";
  }
  
  .ha-icon-phone-o::before {
    content: "\F09A";
  }
  
  .ha-icon-phone::before {
    content: "\F09B";
  }
  
  .ha-icon-photo-o::before {
    content: "\F09C";
  }
  
  .ha-icon-photo::before {
    content: "\F09D";
  }
  
  .ha-icon-photograph::before {
    content: "\F09E";
  }
  
  .ha-icon-play-circle-o::before {
    content: "\F09F";
  }
  
  .ha-icon-play-circle::before {
    content: "\F0A0";
  }
  
  .ha-icon-play::before {
    content: "\F0A1";
  }
  
  .ha-icon-plus::before {
    content: "\F0A2";
  }
  
  .ha-icon-point-gift-o::before {
    content: "\F0A3";
  }
  
  .ha-icon-point-gift::before {
    content: "\F0A4";
  }
  
  .ha-icon-points::before {
    content: "\F0A5";
  }
  
  .ha-icon-printer::before {
    content: "\F0A6";
  }
  
  .ha-icon-qr-invalid::before {
    content: "\F0A7";
  }
  
  .ha-icon-qr::before {
    content: "\F0A8";
  }
  
  .ha-icon-question-o::before {
    content: "\F0A9";
  }
  
  .ha-icon-question::before {
    content: "\F0AA";
  }
  
  .ha-icon-records::before {
    content: "\F0AB";
  }
  
  .ha-icon-refund-o::before {
    content: "\F0AC";
  }
  
  .ha-icon-replay::before {
    content: "\F0AD";
  }
  
  .ha-icon-scan::before {
    content: "\F0AE";
  }
  
  .ha-icon-search::before {
    content: "\F0AF";
  }
  
  .ha-icon-send-gift-o::before {
    content: "\F0B0";
  }
  
  .ha-icon-send-gift::before {
    content: "\F0B1";
  }
  
  .ha-icon-service-o::before {
    content: "\F0B2";
  }
  
  .ha-icon-service::before {
    content: "\F0B3";
  }
  
  .ha-icon-setting-o::before {
    content: "\F0B4";
  }
  
  .ha-icon-setting::before {
    content: "\F0B5";
  }
  
  .ha-icon-share::before {
    content: "\F0B6";
  }
  
  .ha-icon-shop-collect-o::before {
    content: "\F0B7";
  }
  
  .ha-icon-shop-collect::before {
    content: "\F0B8";
  }
  
  .ha-icon-shop-o::before {
    content: "\F0B9";
  }
  
  .ha-icon-shop::before {
    content: "\F0BA";
  }
  
  .ha-icon-shopping-cart-o::before {
    content: "\F0BB";
  }
  
  .ha-icon-shopping-cart::before {
    content: "\F0BC";
  }
  
  .ha-icon-shrink::before {
    content: "\F0BD";
  }
  
  .ha-icon-sign::before {
    content: "\F0BE";
  }
  
  .ha-icon-smile-comment-o::before {
    content: "\F0BF";
  }
  
  .ha-icon-smile-comment::before {
    content: "\F0C0";
  }
  
  .ha-icon-smile-o::before {
    content: "\F0C1";
  }
  
  .ha-icon-smile::before {
    content: "\F0C2";
  }
  
  .ha-icon-star-o::before {
    content: "\F0C3";
  }
  
  .ha-icon-star::before {
    content: "\F0C4";
  }
  
  .ha-icon-stop-circle-o::before {
    content: "\F0C5";
  }
  
  .ha-icon-stop-circle::before {
    content: "\F0C6";
  }
  
  .ha-icon-stop::before {
    content: "\F0C7";
  }
  
  .ha-icon-success::before {
    content: "\F0C8";
  }
  
  .ha-icon-thumb-circle-o::before {
    content: "\F0C9";
  }
  
  .ha-icon-thumb-circle::before {
    content: "\F0CA";
  }
  
  .ha-icon-todo-list-o::before {
    content: "\F0CB";
  }
  
  .ha-icon-todo-list::before {
    content: "\F0CC";
  }
  
  .ha-icon-tosend::before {
    content: "\F0CD";
  }
  
  .ha-icon-tv-o::before {
    content: "\F0CE";
  }
  
  .ha-icon-umbrella-circle::before {
    content: "\F0CF";
  }
  
  .ha-icon-underway-o::before {
    content: "\F0D0";
  }
  
  .ha-icon-underway::before {
    content: "\F0D1";
  }
  
  .ha-icon-upgrade::before {
    content: "\F0D2";
  }
  
  .ha-icon-user-circle-o::before {
    content: "\F0D3";
  }
  
  .ha-icon-user-o::before {
    content: "\F0D4";
  }
  
  .ha-icon-video-o::before {
    content: "\F0D5";
  }
  
  .ha-icon-video::before {
    content: "\F0D6";
  }
  
  .ha-icon-vip-card-o::before {
    content: "\F0D7";
  }
  
  .ha-icon-vip-card::before {
    content: "\F0D8";
  }
  
  .ha-icon-volume-o::before {
    content: "\F0D9";
  }
  
  .ha-icon-volume::before {
    content: "\F0DA";
  }
  
  .ha-icon-wap-home-o::before {
    content: "\F0DB";
  }
  
  .ha-icon-wap-home::before {
    content: "\F0DC";
  }
  
  .ha-icon-wap-nav::before {
    content: "\F0DD";
  }
  
  .ha-icon-warn-o::before {
    content: "\F0DE";
  }
  
  .ha-icon-warning-o::before {
    content: "\F0DF";
  }
  
  .ha-icon-warning::before {
    content: "\F0E0";
  }
  
  .ha-icon-weapp-nav::before {
    content: "\F0E1";
  }
  
  .ha-icon-wechat::before {
    content: "\F0E2";
  }
  
  .ha-icon-youzan-shield::before {
    content: "\F0E3";
  }
  